@model Specialty

@Html.DisplayForModel()

@using(Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
}